streamlit==1.40.2
pandas==2.2.3
numpy==1.26.4
gspread==6.1.4
google-auth==2.35.0
google-auth-oauthlib==1.2.1
cloudinary==1.41.0
requests==2.32.3
Pillow==10.4.0
streamlit-geolocation==0.0.10
streamlit-local-storage==0.0.25
